@import "tailwindcss";

@theme {
  /* Font families */
  --font-family-space-grotesk: "Space Grotesk", sans-serif;
  --font-family-outfit: "Outfit", sans-serif;

  /* Custom colors */
  --color-primary: #0f172a;
  --color-secondary: #38bdf8;
  --color-paragraph: #2a2a2a;
  --color-code: #fc526f;
}
.custom-mask {
  mask-image: linear-gradient(
    to right,
    transparent 0,
    black 128px,
    black calc(100% - 128px),
    transparent 100%
  );
}
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
}
